{% extends 'base.html' %}
{% block content %}
<main>
  <div class="album py-5 bg-light">
    <div class="container">

        {% if not message_can_vote %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Task completed!</strong> You have used all the votes for today
            </div>
        {% endif %}

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for restaurant in restaurants.all %}
          <div class="col">
              <div class="card shadow-sm">

                {% if restaurant.image %}
                    <img src="{{ restaurant.image.url }}" height="200"/>
                {% else %}
                    <div class="d-flex align-items-center justify-content-center" style="font-size: 10em; height:200px; background:#F5F5F5; color:lightgray;" role="img" aria-label="Image">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"></path>
                        </svg>
                    </div>
                {% endif %}

                <div class="card-body">
                  <p class="card-text">{{ restaurant.name }}</p>
<!--                        {% if restaurant.summary %}-->
<!--                            <p class="card-text">{{ restaurant.summary }}</p>-->
<!--                        {% endif %}-->
                    <p class="card-text text-center">{{ restaurant.vote_amount }}</p>
                    {% if user %}
                      <div class="d-flex justify-content-between align-items-center" style="float:right">
                        <div class="btn-group">
                            <form action="/vote/{{ restaurant.id }}" method="post">
                              {% csrf_token %}
                              {{ form }}
                              <input type="submit" value="Vote">
                            </form>
                        </div>
                      </div>
                    {% endif%}
                </div>

              </div>
            </div>
          {% endfor %}
      </div>

    </div>
  </div>
</main>
{% endblock %}